<mat-tab-group [(selectedIndex)]="activeTab">
    <mat-tab>
        <ng-template mat-tab-label><span class="icon icon-cube"></span></ng-template>

        <div class="content">
            <mat-grid-list cols="4" rowHeight="1:1">
                <mat-grid-tile *ngFor="let block of blox[selectedCategory]">
                    <sb-block
                        [name]="block" [category]="selectedCategory" (added)="onAddBlock($event)">
                    </sb-block>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label><span class="icon icon-brush"></span></ng-template>

        <div class="content">
            <div class="clearfix">
                <sb-material
                    *ngFor="let material of sceneDataService.materials"
                    [material]="material"
                    [selected]="selectedMaterial === material"
                    (click)="selectedMaterial = selectedMaterial === material ? null : material">
                </sb-material>

                <div class="add-material" (click)="addMaterial()">
                    <span class="icon icon-plus"></span>
                </div>
            </div>

            <hr>

            <sb-material-editor
                (change)="setViewDirty()"
                [material]="selectedMaterial"
                *ngIf="selectedMaterial"></sb-material-editor>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label><span class="icon icon-sliders"></span></ng-template>

        <div class="content">
            <span class="icon icon-light-up"></span>
            <mat-slider (input)="updateExposure($event.value)" [thumb-label]="true" [min]="0.5" [max]="4.0" [step]="0.1"></mat-slider>

            <br>

            <span class="icon icon-adjust"></span>
            <mat-slider (input)="updateAmbientOcclusion($event.value)" [thumb-label]="true" [min]="0.0" [max]="20" [step]="1"></mat-slider>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label><span class="icon icon-export"></span></ng-template>

        <div class="content">
            <button (click)="exportScene.emit('gltf')" mat-raised-button>Export GLTF ...</button>
            <button (click)="exportScene.emit('x3d')" mat-raised-button>Export X3D ...</button>
        </div>
    </mat-tab>
</mat-tab-group>

<sb-toolbar (transformModeChanged)="transformModeChanged.emit($event)">
</sb-toolbar>
