
:host {
  float: left;
  height: 100%;
  position: relative;
  width: 320px;
}

:host >>> .mat-tab-label {
  min-width: 60px !important;
}

.content {
  padding: 16px;
}

.add-material {
  border-radius: 99px;
  width: 48px;
  height: 48px;
  float: left;
  border: 2px solid #eee;
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content.export button {
  margin: 1rem;
  display: block;
}
